html, body{ 
    width:100%;
    color: white;
    font-family: Arial, sans-serif;
    background:black;
    font-color:white;
    font-style: none;
}
.name {
    font-family: "perec-ludique-cubes", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
}
.bio {
    font-family: halyard-display, sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 45px;
    text-align: center;
    max-width: 70%;
}
.profile {
    border-radius: 50%;
    border: 3px solid #ffffff;
}
.gallery{
    max-width:90%;
    margin: auto;
    padding-bottom: 90px;
 }
 iframe {
    padding-bottom: 10px;
 }
 /* Style the tab */
.tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: #000000;
}
  
/* Style the buttons inside the tab */
.tab button {
    color: #ffffff;
    border-radius: 5px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    text-decoration: underline;
    color: #ffffff;
}

/* Create an active/current tablink class */
.tab button.active {
    color: #000000;
    background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
    animation: fadeEffect 3s; /* Fading effect takes 1 second */
    display: none;
    padding-top: 10px;
    border: 0px solid #ccc;
    border-top: none;
}
.tablinks {
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}